ul{
    overflow: hidden;
    border-radius: 40px;
   
}
li{
    float: right;
    list-style: none;
    padding: 16px;
    margin: 3px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: x-large;
}
li a{
   color: rgb(227, 249, 31);
   text-decoration: none;
}
li a:hover
{
    color: rgb(255, 0, 0);
    display: block;
}
body{
    margin: 0;
}
.logo{
    position:absolute;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
form{
    font-size: 25px;
    text-align: center;
}
#name, #email, #mobile, #city{
    font-size: 25px;;
}
label{
    font-size: 25px;
    display: block; 
    margin-bottom: 10px;
}
.btn{
    font-size: 40px;
    color:rgb(243, 28, 28);
    border-radius: 20px;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.socialhandles{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
   
}

.socialhandles a{
    padding-left: 20px;
}